@theme-color: rgba(255,80,0,1);

th {
    word-break: break-all;
}
th.number, td.number {
    text-align: right;
}
div.character-image-container {
    img {
        display: block;
        width: 65px;
        height: 65px;
    }
    span {
        display: inline-block;
        padding: 2px;
        border: solid 1px @theme-color;
        min-width: 150px;
        color: @theme-color;
        font-weight: bold;
        font-size: 80%;
    }
}
.table > tbody > tr > td {
    vertical-align: bottom;
}